<!DOCTYPE HTML>
<html>

	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/iconfont.css"/>
		<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>
		<script src="/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.article{border-bottom: 2px solid #eaeaea;}
		</style>
	</head>

	<body>
		<!--头部-->
		<% include header.ejs %>
		<div id="header">
			<div class="wrap">
				<div class="sub-header">
					<img src="/images/monitor.png" alt="" width="310" class="mac" />
					<div class="desp">
						<h1>Our Best Business</h1>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div id="main">
			<div class="wrap">
				<!--搜索-->
				<div class="search">
					<form action="/search" method="get" style="margin-left: 0;">
						<input type="search" placeholder="搜索关键字" required name="title"/>
						<input type="submit" value="搜索一下"/>
					</form>
				</div>
				<div class="content">
					<% if(gg.length == 0) { %>
						<span class="text-center">暂无数据！</span>
					<% } else { %>
						<% for(let i in gg) { %>
							<div class="article">
								<h2><%- gg[i].title %></h2>
								<div class="author">作者：<span><%- gg[i].author %></span>标签：<span><%- gg[i].tab %></span>发布日期：<span><%- gg[i].time %></span></div>
								<div id="prev"><img src="<%- gg[i].img %>" alt="" /></div>
								<div style="font-size: 14px;font-family: '微软雅黑'">
									<%- gg[i].content.substring(0,600) %>
								</div>
								<div class="clear"></div>
								<div class="tools">
									<a href="/artdetail/<%- gg[i].id %>.html" class="wdetail">查看全文</a>
								</div>
							</div>
						<% } %>
					<% } %>
					<!--分页-->
					<div class="fepage">
						<ul>
							<li>
								<a href="/list-1.html">第一页</a>
							</li>
							<% for(let k = 1;k<=Math.ceil(num/3);k++) {%>
								<li>
									<a href="/list-<%- k %>.html"><%- k %></a>
								</li>
							<% } %>
							<li>
								<a href="/list-<%- (Math.ceil(num/3))%>.html">最后一页</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="sidebar">
					<div class="sub-sidebar">
						<h2>最新文章</h2>
						<ul class="sub-nav">
							<% for(let i in gg) { %>	
								<li>
									<a href="/artdetail/<%- gg[i].id %>.html"><%- gg[i].title %></a>
								</li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!--底部-->
		<% include footer.ejs %>
		<!--置顶-->
		<script src="/js/ztop.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>